html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Microsoft YaHei UI';
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.wrap {
  width: 99.16667rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 480px) {
    .wrap {
      width: 24.79167rem; } }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both;
    overflow: hidden; }

.top {
  max-width: 100%;
  width: 100%;
  height: 6rem;
  background-color: #21262a;
  border: 1px solid black; }
  .top .wrap {
    height: 100%;
    position: relative; }
    .top .wrap .logo {
      float: left;
      width: 24.5rem;
      height: 100%;
      overflow: hidden; }
      .top .wrap .logo img {
        max-width: 100%;
        display: block;
        height: auto; }
    .top .wrap .nav {
      float: left;
      margin-left: 11.83333rem;
      height: 100%;
      line-height: 6rem; }
      .top .wrap .nav li {
        display: inline-block;
        height: 100%;
        margin-right: 3.5rem; }
        .top .wrap .nav li a {
          color: #FFFFFF; }
        .top .wrap .nav li.active a {
          color: #caaa43; }
    .top .wrap .sign-box {
      position: absolute;
      right: -17.66667rem;
      top: 1.83333rem;
      width: 13.66667rem; }
      .top .wrap .sign-box a {
        width: 5rem;
        height: 2.33333rem;
        display: block;
        line-height: 2.33333rem;
        text-align: center;
        background-color: transparent;
        color: #FFFFFF;
        float: left;
        margin-right: 1.41667rem;
        -webkit-border-radius: 0.83333rem;
        -moz-border-radius: 0.83333rem;
        border-radius: 0.83333rem;
        border: 0.08333rem solid white; }
        .top .wrap .sign-box a.active {
          background-color: #caaa43;
          color: #000;
          border: none; }

.banner {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative; }
  .banner .slides {
    position: relative;
    overflow: hidden;
    height: 49.16667rem; }
    @media screen and (max-width: 480px) {
      .banner .slides {
        height: 12.29167rem; } }
    @media screen and (min-width: 768px) {
      .banner .slides {
        height: 16.38889rem; } }
    .banner .slides li {
      float: left;
      height: 100%;
      color: #FFFFFF;
      text-align: center;
      position: relative;
      overflow: hidden; }
      .banner .slides li:nth-of-type(1) {
        background-image: url("../img/banner1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .banner .slides li:nth-of-type(2) {
        background-image: url("../img/banner2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .banner .slides li:nth-of-type(3) {
        background-image: url("../img/banner3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .banner .slides li:nth-of-type(4) {
        background-image: url("../img/banner4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .banner .slides li:nth-of-type(5) {
        background-image: url("../img/banner5.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .banner .slides li .banner-text {
        z-index: 3;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7); }
        .banner .slides li .banner-text h2 {
          font-size: 3.66667rem;
          letter-spacing: 0.41667rem;
          padding-top: 18.91667rem; }
          @media screen and (max-width: 480px) {
            .banner .slides li .banner-text h2 {
              font-size: 0.91667rem;
              letter-spacing: 0.10417rem;
              padding-top: 4.72917rem; } }
        .banner .slides li .banner-text p {
          width: 60%;
          margin-left: auto;
          margin-right: auto;
          line-height: 1.5rem;
          padding-top: 2.25rem;
          font-size: 1.66667rem;
          color: rgba(255, 255, 255, 0.6); }
          @media screen and (max-width: 480px) {
            .banner .slides li .banner-text p {
              font-size: 0.91667rem;
              letter-spacing: 0.10417rem;
              padding-top: 4.72917rem; } }
        .banner .slides li .banner-text a {
          display: block;
          width: 14.25rem;
          height: 3.75rem;
          margin-left: auto;
          margin-right: auto;
          background-color: #eabf59;
          color: #000000;
          letter-spacing: 0.33333rem;
          line-height: 3.75rem;
          font-size: 1.66667rem;
          margin-top: 7.5rem; }
  .banner .flex-control-nav {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    width: 12rem;
    margin-left: -6rem; }
    .banner .flex-control-nav li {
      float: left;
      margin: 0 0.83333rem 0 0; }
      .banner .flex-control-nav li:nth-last-of-type(1) {
        margin-right: 0; }
      .banner .flex-control-nav li a {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 30px;
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
        font-size: 0; }
        .banner .flex-control-nav li a.flex-active {
          background-color: rgba(0, 0, 0, 0.7); }
  .banner .flex-direction-nav {
    display: none; }

footer {
  max-width: 100%;
  height: 24.33333rem;
  background-color: #21262a;
  overflow: hidden;
  font-size: 1.33333rem; }
  footer .brand-icon {
    width: 100%;
    height: 4.5rem;
    margin-top: 1.66667rem; }
    @media screen and (max-width: 480px) {
      footer .brand-icon {
        display: none; } }
    footer .brand-icon li {
      color: #FFFFFF;
      height: 100%;
      float: left;
      margin-right: 1.5rem;
      line-height: 4.5rem;
      background-repeat: no-repeat;
      background-image: url("../img/index-icon.png"); }
      footer .brand-icon li:nth-of-type(1) {
        background-image: none;
        width: 9.75rem;
        margin-right: 0; }
      footer .brand-icon li:nth-of-type(2) {
        background-position: 0 0;
        width: 7.33333rem; }
      footer .brand-icon li:nth-of-type(3) {
        width: 9.5rem;
        background-position: -8.41667rem 0; }
      footer .brand-icon li:nth-of-type(4) {
        width: 7.83333rem;
        background-position: -18.75rem 0; }
      footer .brand-icon li:nth-of-type(5) {
        width: 9.5rem;
        background-position: 0 -5.58333rem; }
      footer .brand-icon li:nth-of-type(6) {
        width: 8.5rem;
        background-position: -10.25rem -5.58333rem; }
      footer .brand-icon li:nth-of-type(7) {
        background-position: 0 0;
        width: 7.33333rem; }
      footer .brand-icon li:nth-of-type(8) {
        width: 9.5rem;
        background-position: -8.41667rem 0; }
      footer .brand-icon li:nth-of-type(9) {
        width: 7.83333rem;
        background-position: -18.75rem 0; }
      footer .brand-icon li:nth-of-type(10) {
        width: 9.5rem;
        background-position: 0 -5.58333rem;
        margin-right: 0; }
  footer .brand-name {
    height: 4.5rem;
    line-height: 4.5rem;
    border-bottom: 0.08333rem solid #a3a3a3; }
    footer .brand-name .wrap ul {
      margin-left: 9.91667rem; }
      footer .brand-name .wrap ul li {
        display: inline-block;
        padding-right: 1.66667rem; }
        footer .brand-name .wrap ul li a {
          color: #FFFFFF; }
  footer .bottom-logo {
    float: left;
    height: 13.5rem; }
    footer .bottom-logo img {
      margin-left: 0.75rem;
      margin-top: 3.33333rem; }
  footer .bottom-text {
    float: left;
    color: #FFFFFF;
    padding-left: 4.5rem;
    padding-right: 7.5rem;
    padding-top: 2.33333rem; }
    footer .bottom-text p {
      line-height: 2.33333rem; }
  footer .bottom-err {
    float: left;
    height: 13.66667rem;
    padding-left: 2.5rem; }
    footer .bottom-err .bottom-err-erweima {
      width: 12rem;
      float: left; }
      footer .bottom-err .bottom-err-erweima .erweima {
        background-image: url("../img/index-icon.png");
        background-repeat: no-repeat;
        background-position: -19.5rem -5.58333rem;
        margin-left: 2.08333rem;
        margin-top: 1.66667rem;
        width: 7.75rem;
        height: 7.75rem; }
      footer .bottom-err .bottom-err-erweima p {
        color: #FFFFFF;
        font-size: 1.5rem;
        margin-top: 1rem; }
    footer .bottom-err .bottom-price {
      float: left;
      width: 7.58333rem;
      height: 10.16667rem;
      background-image: url("../img/index-icon.png");
      background-position: 0 -11.25rem;
      margin-left: 2.41667rem;
      margin-top: 1.66667rem; }

/*# sourceMappingURL=index.css.map */
