.btn {
  background-color: #caaa43;
  color: #FFFFFF;
  border: none; }

.login-main {
  max-width: 100%;
  height: 55.33333rem;
  background-color: #c4aa91;
  background-image: url("../img/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center; }
  .login-main .wrap .login {
    float: right;
    margin-right: 4.16667rem;
    width: 34.33333rem;
    height: 51.25rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/login-bg.png");
    position: relative; }
    .login-main .wrap .login .login-box-content {
      position: absolute;
      width: 29.25rem;
      height: 31.75rem;
      left: 2.83333rem;
      bottom: 4.16667rem; }
      .login-main .wrap .login .login-box-content .login-boxcontrol {
        width: 100%;
        height: 3.16667rem;
        line-height: 3.16667rem;
        text-align: center; }
        .login-main .wrap .login .login-box-content .login-boxcontrol span {
          width: 50%;
          height: 100%;
          display: block;
          float: left;
          background-color: #e9e9e9;
          color: #000; }
          .login-main .wrap .login .login-box-content .login-boxcontrol span.active {
            background-color: #caaa43;
            color: #ffffff; }
      .login-main .wrap .login .login-box-content .login-box {
        width: 27.25rem;
        height: 26.16667rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.33333rem;
        position: relative; }
        .login-main .wrap .login .login-box-content .login-box .login-box-item {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          *zoom: 1; }
          .login-main .wrap .login .login-box-content .login-box .login-box-item:before, .login-main .wrap .login .login-box-content .login-box .login-box-item:after {
            content: "";
            display: table; }
          .login-main .wrap .login .login-box-content .login-box .login-box-item:after {
            clear: both;
            overflow: hidden; }
          .login-main .wrap .login .login-box-content .login-box .login-box-item .login-title, .login-main .wrap .login .login-box-content .login-box .login-box-item .login-title2 {
            width: 27.25rem;
            height: 3.91667rem;
            line-height: 3.91667rem;
            background-color: #f7f7f7;
            text-align: center; }
            .login-main .wrap .login .login-box-content .login-box .login-box-item .login-title span, .login-main .wrap .login .login-box-content .login-box .login-box-item .login-title2 span {
              display: inline-block;
              float: left;
              padding: 0rem 1.66667rem;
              margin-left: 3.91667rem; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-title span.active, .login-main .wrap .login .login-box-content .login-box .login-box-item .login-title2 span.active {
                border-bottom: 0.16667rem solid #caaa43;
                color: #caaa43; }
          .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container {
            width: 24.66667rem;
            position: relative; }
            .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .single, .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .single2 {
              display: none;
              position: absolute;
              left: 0;
              top: 0; }
            .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-erweima {
              width: 100%; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-erweima p {
                text-align: center;
                padding-top: 1.58333rem;
                padding-bottom: 1rem; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-erweima img {
                width: 15.16667rem;
                height: 15.16667rem;
                display: block;
                margin-left: auto;
                margin-right: auto; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-erweima span {
                width: 15.16667rem;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-top: 1.33333rem;
                border: 0.08333rem solid #cfcfcf;
                background-color: #f2f2f2;
                padding: 0.41667rem 0;
                -webkit-border-radius: 0.83333rem;
                -moz-border-radius: 0.83333rem;
                border-radius: 0.83333rem; }
            .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number {
              width: 24.66667rem;
              padding-left: 1.91667rem; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number p {
                padding-top: 2.5rem;
                color: #a9a9a9; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number .users {
                width: 100%;
                border: 0.08333rem solid #a3a3a3;
                height: 2.75rem;
                margin-top: 1.25rem; }
                .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number .users i {
                  width: 10%;
                  display: inline-block;
                  float: left;
                  line-height: 2.75rem;
                  text-align: center;
                  color: #bbbbbb; }
                .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number .users input {
                  width: 80%;
                  border: none;
                  float: left;
                  height: 2.5rem;
                  line-height: 2.5rem; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number .login-verify {
                margin-top: 1.25rem;
                width: 100%;
                height: 2.75rem; }
                .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number .login-verify input {
                  float: left;
                  border: 0.08333rem solid #a3a3a3;
                  width: 12rem;
                  height: 100%; }
                .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number .login-verify img {
                  float: right;
                  width: 12rem;
                  height: 2.91667rem;
                  display: block; }
              .login-main .wrap .login .login-box-content .login-box .login-box-item .login-box-container .login-number button {
                width: 100%;
                color: #FFFFFF;
                background-color: #caaa43;
                border: none;
                height: 3.75rem;
                font-weight: bold;
                margin-top: 1.83333rem; }

/*# sourceMappingURL=login.css.map */
