.btn {
  background-color: #caaa43;
  color: #FFFFFF;
  border: none; }

.productdetail-main {
  width: 100%;
  margin-top: 6rem; }
  .productdetail-main .wrap {
    width: 97.58333rem; }
    .productdetail-main .wrap .brand {
      border: none; }
      .productdetail-main .wrap .brand .buttons {
        width: 4.16667rem;
        float: right;
        margin-top: 1.625rem; }
        .productdetail-main .wrap .brand .buttons span {
          display: block;
          width: 1.66667rem;
          height: 1.66667rem;
          display: block;
          -webkit-border-radius: 1.66667rem;
          -moz-border-radius: 1.66667rem;
          border-radius: 1.66667rem;
          background-color: #caaa43;
          text-align: center;
          line-height: 1.66667rem;
          font-weight: bold;
          font-size: 1.5rem;
          color: #FFFFFF;
          float: right; }
    .productdetail-main .wrap .product-list {
      width: 100%; }
      .productdetail-main .wrap .product-list li {
        background-color: #f7f7f7;
        width: 22.58333rem;
        float: left;
        margin-right: 0.41667rem;
        margin-bottom: 2.33333rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 0.66667rem;
        padding-left: 1rem;
        padding-right: 0.83333rem;
        padding-bottom: 1.5rem; }
        .productdetail-main .wrap .product-list li:nth-last-of-type(1) {
          margin-right: 0; }
        .productdetail-main .wrap .product-list li .product-list-box {
          background-color: #fff;
          width: 100%;
          height: 25.91667rem;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; }
          .productdetail-main .wrap .product-list li .product-list-box .product-img {
            width: 100%;
            overflow: hidden;
            height: 20.66667rem; }
            .productdetail-main .wrap .product-list li .product-list-box .product-img img {
              width: 100%;
              height: auto;
              display: block; }
          .productdetail-main .wrap .product-list li .product-list-box .product-detail {
            max-width: 100%;
            position: relative;
            padding-top: 1.5rem;
            padding-left: 1.25rem; }
            .productdetail-main .wrap .product-list li .product-list-box .product-detail a {
              display: block;
              width: 4.08333rem;
              height: 2.75rem;
              line-height: 2.75rem;
              color: #FFFFFF;
              text-align: center;
              background-color: #caaa43;
              position: absolute;
              right: 1.41667rem;
              top: 1.25rem;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -ms-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s; }
              .productdetail-main .wrap .product-list li .product-list-box .product-detail a:hover {
                background-color: rgba(0, 0, 0, 0.5);
                color: #caaa43;
                letter-spacing: 0.41667rem; }
            .productdetail-main .wrap .product-list li .product-list-box .product-detail h4 {
              font-weight: bold;
              letter-spacing: 0.25rem; }
            .productdetail-main .wrap .product-list li .product-list-box .product-detail p {
              padding-top: 0.58333rem;
              color: #aaaaaa; }
              .productdetail-main .wrap .product-list li .product-list-box .product-detail p span {
                color: #a52321;
                font-weight: bold; }
        .productdetail-main .wrap .product-list li.active .product-list-box {
          -webkit-box-shadow: 0 0 0.83333rem rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 0 0.83333rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.83333rem rgba(0, 0, 0, 0.5); }
    .productdetail-main .wrap .list-wrap {
      width: 100%;
      overflow: hidden;
      position: relative; }
      .productdetail-main .wrap .list-wrap .list {
        position: absolute;
        left: 0;
        top: 0; }
        .productdetail-main .wrap .list-wrap .list li {
          -webkit-border-radius: 0 0 5px #999999;
          -moz-border-radius: 0 0 5px #999999;
          border-radius: 0 0 5px #999999; }
    .productdetail-main .wrap .productdetail .productdetail-title {
      height: 5rem;
      line-height: 5rem;
      font-size: 1.66667rem;
      background-color: #eeeeee;
      text-indent: 2rem;
      margin-top: 3.66667rem;
      margin-bottom: 1.66667rem; }
      .productdetail-main .wrap .productdetail .productdetail-title span {
        color: #df1d25;
        font-size: 1.33333rem; }
    .productdetail-main .wrap .productdetail .right-extra {
      width: 100%; }
      .productdetail-main .wrap .productdetail .right-extra .xiangce {
        width: 35.58333rem;
        float: left; }
        .productdetail-main .wrap .productdetail .right-extra .xiangce #preview {
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .productdetail-main .wrap .productdetail .right-extra .xiangce #preview img {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5); }
      .productdetail-main .wrap .productdetail .right-extra .caozuo {
        float: left;
        padding-left: 2rem;
        position: relative;
        width: 33.66667rem; }
        .productdetail-main .wrap .productdetail .right-extra .caozuo h2 {
          font-size: 1.66667rem;
          font-weight: bold;
          margin-bottom: 1.66667rem; }
        .productdetail-main .wrap .productdetail .right-extra .caozuo small {
          font-size: 1.33333rem;
          font-weight: bold;
          margin-bottom: 0.83333rem;
          display: block; }
        .productdetail-main .wrap .productdetail .right-extra .caozuo p {
          height: 2.33333rem;
          line-height: 2.33333rem; }
          .productdetail-main .wrap .productdetail .right-extra .caozuo p:nth-of-type(3) {
            border-bottom: 0.08333rem solid #dddddd; }
        .productdetail-main .wrap .productdetail .right-extra .caozuo .detail {
          padding-top: 1.66667rem; }
          .productdetail-main .wrap .productdetail .right-extra .caozuo .detail li {
            height: 2.5rem;
            line-height: 2.5rem;
            width: 31.66667rem; }
            .productdetail-main .wrap .productdetail .right-extra .caozuo .detail li span, .productdetail-main .wrap .productdetail .right-extra .caozuo .detail li i, .productdetail-main .wrap .productdetail .right-extra .caozuo .detail li input {
              display: block;
              float: left; }
            .productdetail-main .wrap .productdetail .right-extra .caozuo .detail li b {
              padding-left: 5.83333rem; }
          .productdetail-main .wrap .productdetail .right-extra .caozuo .detail .money i {
            font-size: 2.5rem;
            color: red; }
          .productdetail-main .wrap .productdetail .right-extra .caozuo .detail .detail-input div {
            height: 1.66667rem;
            line-height: 1.66667rem;
            width: 8.33333rem;
            float: left;
            margin-top: 0.41667rem; }
            .productdetail-main .wrap .productdetail .right-extra .caozuo .detail .detail-input div .num {
              height: 100%;
              border: 0.08333rem solid #dddddd;
              text-align: center;
              line-height: 1.66667rem; }
            .productdetail-main .wrap .productdetail .right-extra .caozuo .detail .detail-input div .numtext {
              width: 1.66667rem;
              text-align: center; }
          .productdetail-main .wrap .productdetail .right-extra .caozuo .detail .gobuy {
            height: 3.33333rem;
            padding-top: 1.66667rem; }
            .productdetail-main .wrap .productdetail .right-extra .caozuo .detail .gobuy button {
              width: 13rem;
              height: 100%;
              border: none;
              color: #FFFFFF;
              background-color: #b22420; }
        .productdetail-main .wrap .productdetail .right-extra .caozuo .erweima {
          position: absolute;
          bottom: 4.16667rem;
          right: 0;
          width: 9.83333rem;
          height: 11.66667rem; }
          .productdetail-main .wrap .productdetail .right-extra .caozuo .erweima p {
            text-align: center; }
      .productdetail-main .wrap .productdetail .right-extra .cp_right2 {
        width: 18.33333rem;
        border: 1px solid #ddd;
        padding: 0.83333rem;
        margin-right: 0.83333rem;
        color: #333;
        float: right; }
        .productdetail-main .wrap .productdetail .right-extra .cp_right2 .productdetail-logo {
          border-bottom: 1px dotted #ddd;
          padding-bottom: 5px; }
        .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-infor {
          position: relative;
          padding: 15px 9px;
          line-height: 20px;
          font-size: 0; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-infor .name {
            display: inline-block;
            width: 126px;
            height: 20px;
            color: #005aa0;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            font-size: 12px; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-infor .u-jd {
            display: inline-block;
            width: 54px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            border-radius: 3px;
            font-family: simsun;
            color: #fff;
            background: #e4393c;
            font-style: normal; }
        .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-pop-box {
          margin-bottom: 10px;
          border-bottom: 1px solid #eee; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-pop-box .J-pop-score .item {
            display: block;
            padding-left: 9px;
            padding-bottom: 5px; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-pop-box .J-pop-score .pop-shop-detail .item {
            padding: 0 3px 0 69px;
            margin-bottom: 5px;
            line-height: 20px;
            text-indent: -60px;
            font-family: \5B8B\4F53; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-pop-box .J-pop-score .pop-shop-detail .label {
            color: #999; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .seller-pop-box .J-pop-score .pop-shop-detail .text {
            color: #999; }
        .productdetail-main .wrap .productdetail .right-extra .cp_right2 .customer-service {
          padding-left: 9px;
          padding-bottom: 10px;
          margin-bottom: 10px;
          line-height: 24px; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .customer-service dt {
            width: 60px;
            height: 24px;
            line-height: 24px;
            float: left;
            display: none; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .customer-service dd {
            float: left;
            width: 187px; }
            .productdetail-main .wrap .productdetail .right-extra .cp_right2 .customer-service dd .item {
              width: 86px;
              height: 25px;
              margin-right: 4px;
              float: left;
              overflow: hidden; }
              .productdetail-main .wrap .productdetail .right-extra .cp_right2 .customer-service dd .item .jd-im {
                display: inline-block;
                width: 59px;
                height: 24px;
                line-height: 24px;
                padding-left: 27px;
                background: url("../img/productdetail-icon.gif") no-repeat; }
                .productdetail-main .wrap .productdetail .right-extra .cp_right2 .customer-service dd .item .jd-im b {
                  font-weight: 400;
                  color: #fff; }
        .productdetail-main .wrap .productdetail .right-extra .cp_right2 .pop-shop-enter {
          height: 24px;
          padding-left: 9px;
          padding-bottom: 20px; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .pop-shop-enter .btn-gray {
            padding: 0 12px;
            margin-left: 5px; }
        .productdetail-main .wrap .productdetail .right-extra .cp_right2 .jd-service {
          width: 210px;
          margin-right: -23px;
          zoom: 1;
          overflow: hidden;
          padding: 0 0 10px 9px; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .jd-service dt {
            clear: both;
            padding-bottom: 10px; }
          .productdetail-main .wrap .productdetail .right-extra .cp_right2 .jd-service dd {
            width: 95px;
            height: 16px;
            float: left;
            padding: 0 10px 10px 0; }
            .productdetail-main .wrap .productdetail .right-extra .cp_right2 .jd-service dd .jd-support-ico {
              display: inline-block;
              height: 16px;
              line-height: 16px;
              _line-height: 17px;
              padding-left: 16px;
              padding-right: 2px;
              overflow: hidden;
              background-color: #f2f4ff;
              color: #6a77b6; }
    .productdetail-main .wrap .productdetail .fuwu {
      height: 6rem;
      margin: 1.66667rem 0;
      float: left;
      width: 100%; }
      .productdetail-main .wrap .productdetail .fuwu ul {
        height: 100%;
        border-bottom: 0.08333rem solid #dddddd;
        border-top: 0.08333rem solid #dddddd; }
        .productdetail-main .wrap .productdetail .fuwu ul li {
          float: left;
          height: 100%;
          width: 6.66667rem;
          text-align: center;
          margin: 0 1.66667rem; }
          .productdetail-main .wrap .productdetail .fuwu ul li div {
            font-size: 2.5rem;
            height: 4.16667rem;
            line-height: 4.16667rem;
            width: 100%; }
    .productdetail-main .wrap .productdetail .recommend-shop {
      float: left; }
      .productdetail-main .wrap .productdetail .recommend-shop .h2 {
        font-size: 1.66667rem;
        height: 4rem;
        line-height: 4rem; }
    .productdetail-main .wrap .productdetail .titlt {
      position: relative;
      float: left;
      width: 100%; }
      .productdetail-main .wrap .productdetail .titlt ul {
        font-size: 1rem;
        position: absolute;
        right: 2.08333rem;
        top: 0;
        float: right; }
        .productdetail-main .wrap .productdetail .titlt ul li:before {
          color: #caaa43;
          padding-right: 0.41667rem; }

/*# sourceMappingURL=productdetail.css.map */
