.btn {
  background-color: #caaa43;
  color: #FFFFFF;
  border: none; }

.product-banner {
  max-width: 100%;
  height: 31.16667rem;
  margin-top: 6rem;
  background-image: url("../img/product-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (min-width: 62em) and (max-width: 90em) {
    .product-banner {
      margin-top: 4.61538rem; } }

.product-main {
  max-width: 100%; }
  .product-main .wrap {
    width: 99.5rem; }
    .product-main .wrap .kaiguan {
      padding: 2.5rem 0; }
      .product-main .wrap .kaiguan p {
        float: left; }
      .product-main .wrap .kaiguan .showshaixuan {
        float: right;
        padding: 0.58333rem 0.83333rem;
        background-color: #f6f6f6;
        border: 0.08333rem solid #e8e8e8; }
    .product-main .wrap .shaixuan {
      width: 100%;
      border: 0.08333rem solid #e8e8e8;
      display: none;
      margin-bottom: 1.25rem; }
      .product-main .wrap .shaixuan .shaixuanitem {
        padding: 0.91667rem 1.25rem;
        overflow: hidden;
        font-size: 1.33333rem;
        border-bottom: 0.08333rem dashed #e8e8e8;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .product-main .wrap .shaixuan .shaixuanitem h2 {
          width: 10%;
          float: left; }
          .product-main .wrap .shaixuan .shaixuanitem h2 a {
            color: #999999; }
        .product-main .wrap .shaixuan .shaixuanitem .pingpai-list {
          width: 80%;
          float: left; }
          .product-main .wrap .shaixuan .shaixuanitem .pingpai-list li {
            float: left;
            margin-right: 1.66667rem;
            margin-bottom: 0.83333rem; }
        .product-main .wrap .shaixuan .shaixuanitem .control {
          width: 10%;
          float: left; }
          .product-main .wrap .shaixuan .shaixuanitem .control .duoxuan {
            border: 1px solid black;
            margin-right: 0.83333rem; }
      .product-main .wrap .shaixuan .pingpai {
        height: 2.5rem; }
    .product-main .wrap .paixu {
      height: 3.33333rem;
      background-color: #f5f5f5;
      line-height: 3.33333rem;
      font-size: 1.33333rem;
      margin: 1.25rem 0;
      border: 0.08333rem solid #f5f5f5; }
      .product-main .wrap .paixu ul {
        height: 100%; }
        .product-main .wrap .paixu ul li {
          float: left;
          padding: 0 1.66667rem;
          height: 100%; }
          .product-main .wrap .paixu ul li.active {
            background-color: #fff;
            color: #ff5500; }
          .product-main .wrap .paixu ul li input {
            height: 1.66667rem;
            border: none;
            margin-top: 0.83333rem;
            float: left; }
    .product-main .wrap .product-list {
      width: 100%; }
      .product-main .wrap .product-list li {
        background-color: #f7f7f7;
        width: 22.58333rem;
        float: left;
        margin-right: 0.41667rem;
        margin-bottom: 2.33333rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 0.66667rem;
        padding-left: 1rem;
        padding-right: 0.83333rem;
        padding-bottom: 1.5rem; }
        .product-main .wrap .product-list li:nth-last-of-type(1) {
          margin-right: 0; }
        .product-main .wrap .product-list li .product-list-box {
          background-color: #fff;
          width: 100%;
          height: 25.91667rem;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; }
          .product-main .wrap .product-list li .product-list-box .product-img {
            width: 100%;
            overflow: hidden;
            height: 20.66667rem; }
            .product-main .wrap .product-list li .product-list-box .product-img img {
              width: 100%;
              height: auto;
              display: block; }
          .product-main .wrap .product-list li .product-list-box .product-detail {
            max-width: 100%;
            position: relative;
            padding-top: 1.5rem;
            padding-left: 1.25rem; }
            .product-main .wrap .product-list li .product-list-box .product-detail a {
              display: block;
              width: 4.08333rem;
              height: 2.75rem;
              line-height: 2.75rem;
              color: #FFFFFF;
              text-align: center;
              background-color: #caaa43;
              position: absolute;
              right: 1.41667rem;
              top: 1.25rem;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -ms-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s; }
              .product-main .wrap .product-list li .product-list-box .product-detail a:hover {
                background-color: rgba(0, 0, 0, 0.5);
                color: #caaa43;
                letter-spacing: 0.41667rem; }
            .product-main .wrap .product-list li .product-list-box .product-detail h4 {
              font-weight: bold;
              letter-spacing: 0.25rem; }
            .product-main .wrap .product-list li .product-list-box .product-detail p {
              padding-top: 0.58333rem;
              color: #aaaaaa; }
              .product-main .wrap .product-list li .product-list-box .product-detail p span {
                color: #a52321;
                font-weight: bold; }
        .product-main .wrap .product-list li.active .product-list-box {
          -webkit-box-shadow: 0 0 0.83333rem rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 0 0.83333rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.83333rem rgba(0, 0, 0, 0.5); }
    .product-main .wrap .product-list li {
      margin-right: 3rem; }
      .product-main .wrap .product-list li:nth-of-type(4n) {
        margin-right: 0; }

/*# sourceMappingURL=product.css.map */
