@import "mixin";


$border :#dddddd;

.productdetail-main{
  width: 100%;
  margin-top:rem(72);
  .wrap{
    width: rem(1171);
    .brand{
      border: none;
      .buttons{
        width: rem(50);
        float: right;
        margin-top:rem((59-20)/2);
        span{
          display: block;
          @include ball(rem(20));
          background-color: #caaa43;
          text-align: center;
          line-height:rem(20);
          font-weight: bold;
          font-size: rem(18);
          color: #FFFFFF;
          float: right;
        }
      }
    }
    @include list;
    .list-wrap{
      width: 100%;
      overflow: hidden;
      position: relative;

      .list{
        position: absolute;
        left: 0;
        top: 0;
        li{
          @include borderRadius(0 0 5px #999999)
        }
      }
     }
    .productdetail{
      .productdetail-title{
        @include lineheight(rem(60));
        font-size: rem(20);
        background-color: #eeeeee;
        text-indent: rem(24);
        margin-top:rem(44);
        margin-bottom:rem(20);
        span{
          color: #df1d25;
          font-size: rem(16);
        }
      }
      .right-extra{
        width: 100%;
        .xiangce{
          width: rem(427);
          float: left;
          #preview{
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
              @include scale(1.5)
            }
          }
        }
        .caozuo{
          float: left;
          padding-left:rem(24);
          position: relative;
          width: rem(404);
          h2{
            font-size: rem(20);
            font-weight: bold;
            margin-bottom:rem(20);
          }
          small{
            font-size: rem(16);
            font-weight: bold;
            margin-bottom:rem(10);
            display: block;
          }
          p{
            @include lineheight(rem(28));
            &:nth-of-type(3){
              border-bottom:rem(1) solid $border;
            }
          }
          .detail{
            padding-top: rem(20);
            li{
              @include lineheight(rem(30));
              width: rem(380);
              span,i,input{
                display: block;
                float: left;
              }
              b{
                padding-left:rem(70);
              }
            }
            .money{
              i{
                font-size: rem(30);
                color: red;
              }
            }
            .detail-input{

              div{
                @include lineheight(rem(20));
                width: rem(100);
                float: left;
                margin-top:rem(5);
                .num{
                  height: 100%;
                  @include border($border);
                  text-align: center;
                  line-height:rem(20);
                }
                .numtext{
                  width: rem(20);
                  text-align: center;
                }
              }
            }
            .gobuy{
              height: rem(40);
              padding-top:rem(20);
              button{
                width: rem(156);
                height: 100%;
                border:none;
                color: #FFFFFF;
                background-color: #b22420;
              }
            }
          }
          .erweima{
            position: absolute;
            bottom: rem(50);
            right: 0;
            width: rem(118);
            height: rem(140);
            p{
              text-align: center;
            }
          }
        }
        .cp_right2{
          width: rem(220);
          border: 1px solid #ddd;

          padding: rem(10);
          margin-right: rem(10);
          color: #333;
          float: right;
          .productdetail-logo{
            border-bottom: 1px dotted #ddd;
            padding-bottom: 5px;
          }
          .seller-infor{
            position: relative;
            padding: 15px 9px;
            line-height: 20px;
            font-size: 0;
            .name{
              display: inline-block;
              width: 126px;
              height: 20px;
              color: #005aa0;
              white-space: nowrap;
              text-overflow: ellipsis;
              vertical-align: middle;
              font-size: 12px;
            }
            .u-jd{
              display: inline-block;
              width: 54px;
              height: 18px;
              line-height: 18px;
              text-align: center;
              font-size: 12px;
              border-radius: 3px;
              font-family: simsun;
              color: #fff;
              background: #e4393c;
              font-style: normal;
            }
          }
          .seller-pop-box{
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            .J-pop-score{
              .item{
                display: block;
                padding-left:9px;
                padding-bottom:5px;
              }
              .pop-shop-detail{

                .item{
                  padding: 0 3px 0 69px;
                  margin-bottom: 5px;
                  line-height: 20px;
                  text-indent: -60px;
                  font-family: \5B8B\4F53;
                }
                .label{
                  color: #999;
                }
                .text{
                  color: #999;
                }
              }
            }
          }
          .customer-service{
            padding-left: 9px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            line-height: 24px;
            dt{
              width: 60px;
              height: 24px;
              line-height: 24px;
              float: left;
              display: none;
            }
            dd{
              float: left;
              width: 187px;
              .item{
                width: 86px;
                height: 25px;
                margin-right: 4px;
                float: left;
                overflow: hidden;
                .jd-im{
                  display: inline-block;
                  width: 59px;
                  height: 24px;
                  line-height: 24px;
                  padding-left: 27px;
                  background: url('../img/productdetail-icon.gif') no-repeat;
                  b{
                    font-weight: 400;
                    color: #fff;
                  }
                }
              }
            }
          }
          .pop-shop-enter{
            height: 24px;
            padding-left: 9px;
            padding-bottom: 20px;
            .btn-gray{
              padding: 0 12px;
              margin-left: 5px;
            }
          }
          .jd-service{
            width: 210px;
            margin-right: -23px;
            zoom: 1;
            overflow: hidden;
            padding: 0 0 10px 9px;
            dt{
              clear: both;
              padding-bottom: 10px;
            }
            dd{
              width: 95px;
              height: 16px;
              float: left;
              padding: 0 10px 10px 0;
              .jd-support-ico{
                display: inline-block;
                height: 16px;
                line-height: 16px;
                _line-height: 17px;
                padding-left: 16px;
                padding-right: 2px;
                overflow: hidden;
                background-color: #f2f4ff;
                color: #6a77b6;
              }
            }
          }
        }
      }
      .fuwu{
        height: rem(72);
        margin:rem(20) 0;
        float: left;
        width: 100%;
        ul{
          height: 100%;
          border-bottom:rem(1) solid $border;
          border-top:rem(1) solid $border;
          li{
            float: left;
            height: 100%;
            width: rem(80);
            text-align: center;
            margin: 0 rem(20);
            div{
              font-size: rem(30);
              @include lineheight(rem(50));
              width: 100%;

            }
          }
        }
      }
      .recommend-shop{
        float: left;
        .h2{
          font-size: rem(20);
          @include lineheight(rem(48))
        }
        .product-list{

        }
      }
      .titlt{
        position: relative;
        float: left;
        width: 100%;
        ul{
          font-size: rem(12);
          position: absolute;
          right: rem(25);
          top: 0;
          float: right;
          li{
            &:before{
              color: #caaa43;
              padding-right:rem(5);
            }
          }
        }
      }
    }
  }
}